//fonts
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;700&display=swap')

$font-Alfa: 'Alfa Slab One', cursive
$font-Roboto: 'Roboto', sans-serif

//colors
$white: #FFFFFF
$orange: #F87514
$red: #E00405
$green: #16B22F
$grey: #707070
$light-grey:#E1E1E1
$black: #1B1B1B

//breakpoint
$breakpoint: 768px !default

//base settings
html
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: $font-Roboto

.wrapper
  min-height: 100vh

//button mixins
=common-button-orange()
  font-family: $font-Alfa
  color: $white
  background-color: $orange
  border-radius: 10px
  &:hover
    border: 8px solid $red
    box-shadow: 5px 5px 10px $grey

=common-button-red()
  font-family: $font-Alfa
  color: $white
  background-color: $red
  border: none
  border-radius: 10px
  &:hover
    color: $white
    background-color: $red
    border: 8px solid $orange
    box-shadow: 5px 5px 10px $grey

=common-ghost-button-orange()
  font-family: $font-Alfa
  color: $orange
  background-color: $white
  border: 3px solid $orange
  border-radius: 10px
  &:hover
    color: $white
    background-color: $orange
    border: 8px solid $orange
    box-shadow: 5px 5px 10px $grey

=common-ghost-button-red()
  font-family: $font-Alfa
  color: $red
  background-color: $white
  border: 3px solid $red
  border-radius: 10px
  &:hover
    color: $white
    background-color: $red
    border: 8px solid $red
    box-shadow: 5px 5px 10px $grey

// animations
=sun-animation()
  @-webkit-animation: pulse 2s ease-in
  @-moz-animation: pulse 2s ease-in
  animation: pulse 2s ease-in
  @webkit-animation-iteration-count: infinite
  @moz-animation-iteration-count: infinite
  animation-iteration-count: infinite

=mic-animation()
  animation-name: pulse1
  animation-duration: 1.5s
  animation-iteration-count: infinite
  animation-timing-function: linear

//flex alignment
=flex-column-align-center()
  display: flex
  flex-direction: column
  align-items: center

=flex-row-justify-center()
  display: flex
  justify-content: center
 
// style for h1
h1
  font-family: $font-Alfa
  color: $black
  font-size: 24px
  letter-spacing: 2px

p
  margin: 5px
