@use '@/style/base'

$form-width: 82%
$breakpoint: base.$breakpoint

.container
    max-width: base.$breakpoint
    display: flex
    flex-direction: column
    margin: auto
    height: 100vh
    align-items: center

.button-big
    +base.common-button-orange()
    margin: 20px
    width: $form-width
    height: 55px
    cursor: pointer
    border: base.$orange
    font-size: 24px
    &:hover
        border: 5px solid base.$red
    &:focus
        outline: none
=form-height($x)
    height: $x

.form
    display: flex
    flex-direction: column
    width: $form-width
    justify-content: space-around

    .input[type=text],[type=password]
        padding-bottom: 6px
        font-family: base.$font-Roboto
        margin: 8px 0
        box-sizing: border-box
        border: none
        font-size: 12px
        border-bottom: 1px solid base.$black
    .input:focus
        border: none
        outline: none
        border-bottom: 2px solid base.$orange
        
.text-down
    margin:0.5em
    width: $form-width
    font-family: base.$font-Roboto
    font-size: 12px
    .text2
        color: base.$orange
        margin-left: 1em


@media screen and (min-width: base.$breakpoint)
    h1
     font-size: 36px

    .button-big
        width: 244px

    .form .input[type=text]
       font-size: 18px
    .form .input[type=password]
       font-size: 18px
    .text-down
        width: $form-width - 38%
        margin-top: 1em
        font-size: 18px
        .text2
            margin-left: 1.5em
        
        
 