@use '@/style/base'

$form-width: 82%

.container
    max-width: 768px
    display: flex
    flex-direction: column
    margin: auto
    border: 2px solid base.$grey
    height: 100vh
    align-items: center

.button-big
    +base.common-button-orange()
    margin: 20px
    width: $form-width
    height: 55px
    cursor: pointer
    border: base.$orange

    font-size: 24px
    &:hover
        border: 5px solid base.$red
    &:focus
        outline: none

.logo
    width: 10%
    margin: 1em 0 0 1em
    align-self: flex-start

=form-height($x)
    height: $x

.form
    display: flex
    flex-direction: column
    width: $form-width
    justify-content: space-around

    .input[type=text]
        padding: 12px 20px
        margin: 8px 0
        box-sizing: border-box

    .input:focus
        border: none
        outline: 2px solid base.$orange

.text-down
    margin:0.5em
    width: $form-width
    .text2
        color: base.$orange
        margin-left: 1em
h1
    font-family: base.$font-Alfa
    color: base.$black
    font-size: 24px
    letter-spacing: 2px
